:root {
    --main-font: "Bad Script", cursive;
    --second-title: "Bebas Neue", sans-serif;
    --shadow-box: 2px 5px 2px #cc9815;
}

.container__phrase__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: auto;
    margin-right: 20px;

    width: 30%;
}

/* .container__title {
    margin-bottom: 20px;
} */

.main-title {
    font-family: var(--main-font);
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    text-align: center;

    position: relative;
    top: 15px; /* Ajuste a posição para aproximar */
    left: 10px;
}

.second__title {
    font-family: var(--second-title);
    font-size: 3.5em;
    font-weight: 400;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.3647058824) 2px 3px 2px;

}

.container__phrase {
    width: 90%;
    padding: 20px;
    margin-top: 2.5em;

    text-align: center;
    background-color: #fff;

    font-family: var(--main-font);
    box-shadow: var(--shadow-box);

    border-radius: 10px;
}

.button {
    padding: 10px;
    font-family: var(--second-title);
    background-color: #fff;

    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-box);

    margin-top: 30px;
    width: 39%;
}